.search__container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

.search__searchbox {
  width: 100%;
  min-width: 200px;
  max-width: 50rem;
  position: relative;
}

.search__button {
  margin-top: 50px;
}