.points_summary__container {
  display: flex;
  justify-content: flex-end;
}

.points_summary__text {
  color: #05203B;
  font-size: 2rem;
}

.points_summary__text--highlight {
  font-size: 3rem;
  font-weight: bold;
}