.points_page__container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
}

.points_page__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.points_page__spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
}

.points_page__points_summary {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}